@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Itim&family=Rubik+Marker+Hatch&display=swap');

.main p{
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 50px;
    color: white;
}
.content{
    text-align: center;
    position: relative;
    width: 40%;
    height: auto;
    margin: auto;
}
.image {
    display: block;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(242, 103, 155);
}
.content:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
body{
    background: url(https://media.discordapp.net/attachments/920846680147001414/1019978979605762078/Screenshot_2022-09-15_213059.jpg?width=1385&height=663);
    background-size: cover;
    animation: transitionIn 1s;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);

    }
}